---
title: Everyday | Jackson Tenclay
---

<% streaks_data = data['music-log-streaks'] %>
<% totals_data = data['music-log-totals'] %>
<% total_days = data['music-log-totals'][:total_days] %>
<% total_hours, total_minutes = totals_data['total_time'].divmod(60) %>
<% inline_tags = data['music-log-inline-tags'] %>
<% inline_instruments = data['music-log-inline-instruments'] %>
<% data_dump_calendar = data['music-log-calendar'] %>

<div class="text-block">
  <a class="back-link" href="/">
    <svg viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false" aria-hidden="true">
      <path d="M1,7 L13,7 Z"></path>
      <polyline points="5 11 1 7 5 3"></polyline>
    </svg>
    <div>
      Back home
    </div>
  </a>

  <p>
    This is a graph of how I’ve been active each day&nbsp;lately.
  </p>
  <h2>Minutes per day</h2>
  <p>
    This graph shows how the amount of time I’ve spent making music has changed over time. The initial intent was to keep it above 15 minutes per day; my current median time is <%= totals_data['median_time_per_day'] %>&nbsp;minutes.
  </p>
  <%= partial 'partials/_everyday-chart' %>
</div>
