.bundle
.cache
.DS_Store
.sass-cache
.env
.tmp/
build/
node_modules/
dist/
assets/styles/fonts/
data/service-account.json
data/music-log*
source/partials/_bar-chart.html.erb
source/partials/_time-by-date-chart.html.erb
