[submodule "source/tile-game"]
	path = source/tile-game
	url = git@github.com:jtenclay/tile-game.git
[submodule "source/geography-quiz"]
	path = source/geography-quiz
	url = git@github.com:jtenclay/geography-quiz.git
