<div class="d3-vis__wrapper">
  <div class="d3-vis d3-vis--everyday">
    <div class="d3-vis__y-axis" aria-hidden="true">
      <div class="d3-vis__y-axis-line"></div>
    </div>
    <div class="d3-vis__chart">
      <!-- <div class="d3-vis__tooltip">
        <div class="d3-vis__tooltip-text"></div>
      </div> -->
    </div>
    <div class="d3-vis__x-axis" aria-hidden="true">
      <div class="d3-vis__x-axis-line"></div>
    </div>
  </div>

  <div class="d3-vis__actions">
    <input type="checkbox" checked class="d3-vis__guide-checkbox" id="everyday-guides">
    <label for="everyday-guides">
      <div class="d3-vis__checkbox-image">
        <svg viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false" aria-hidden="true">
          <polyline points="4 9 6 11 10 3"></polyline>
        </svg>
      </div>
      Show guides
    </label>
  </div>
</div>
