<div class="d3-vis__wrapper d3-vis--cropped-graph">
  <div class="d3-vis d3-vis--time-by-date">
    <div class="d3-vis__y-axis d3-vis__y-axis--uncropped">
      <div class="d3-vis__y-axis-line"></div>
    </div>
    <div class="d3-vis__y-axis d3-vis__y-axis--cropped">
      <div class="d3-vis__y-axis-line"></div>
    </div>
    <div class="d3-vis__chart">
      <!-- <div class="d3-vis__tooltip">
        <div class="d3-vis__tooltip-text"></div>
      </div> -->
    </div>
    <div class="d3-vis__x-axis">
      <div class="d3-vis__x-axis-line"></div>
    </div>
  </div>

  <div class="d3-vis__actions">
    <input type="checkbox" checked class="d3-vis__guide-checkbox" id="time-by-date-guides">
    <label for="time-by-date-guides">
      <div class="d3-vis__checkbox-image">
        <svg viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polyline points="4 9 6 11 10 3"></polyline>
        </svg>
      </div>
      Show guides
    </label>

    <input type="checkbox" checked class="d3-vis__crop-graph" id="time-by-date-crop">
    <label for="time-by-date-crop">
      <div class="d3-vis__checkbox-image">
        <svg viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polyline points="4 9 6 11 10 3"></polyline>
        </svg>
      </div>
      Crop graph to two hours
    </label>
  </div>
</div>
