<div class="d3-vis__wrapper">
  <div class="d3-vis d3-vis--time-by-date">
    <div class="d3-vis__y-axis">
      <div class="d3-vis__y-axis-line"></div>
    </div>
    <div class="d3-vis__chart">
      <!-- <div class="d3-vis__tooltip">
        <div class="d3-vis__tooltip-text"></div>
      </div> -->
    </div>
    <div class="d3-vis__x-axis">
      <div class="d3-vis__x-axis-line"></div>
    </div>
  </div>

  <div class="d3-vis__actions">
    <label>
      <input type="checkbox" checked class="d3-vis__guide-checkbox">
      <div class="d3-vis__checkbox-image"></div>
      Show guides
    </label>
  </div>
</div>
