<div class="time-of-day">
  <div class="time-of-day__y-axis">
    <div class="time-of-day__y-axis-line"></div>
  </div>
  <div class="time-of-day__chart">
    <!-- <div class="time-of-day__tooltip">
      <div class="time-of-day__tooltip-text"></div>
    </div> -->
  </div>
  <div class="time-of-day__x-axis">
    <div class="time-of-day__x-axis-line"></div>
  </div>
</div>

<div class="time-of-day__actions">
  <label>
    <input type="checkbox" checked class="time-of-day__guide-checkbox">
    Show guides
  </label>

  <label>
    <input type="checkbox" class="time-of-day__smooth-graph">
    Smooth graph
  </label>
</div>
