.multiple-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	bottom: 0;
	div {
		position: absolute;
		width: 5%;
		padding-top: 5%;
		background: url('../../img/multiple-pill.svg') center / 100% 100% no-repeat;

    transition-property: left top;
    transition-duration: 0.3s;
    transition-timing-function: easeInOutQuart;
	}
}