#tile-game {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

#tile-game div {
	background-color: $link-color;
	background-size: 400% 400%;
	position: relative;
	display: inline-block;
	width: 22%;
	height: 22%;
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 3px;

	-webkit-transition-property: left top;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: easeInOutQuart;
    transition-property: left top;
    transition-duration: .3s;
    transition-timing-function: easeInOutQuart;
}

#tile-game span {
	align-self: center;
	display: none;
	font-weight: 600;
	position: relative;
	z-index: 10;
}

.row-1 {
	top: 0%;
}

.row-2 {
	top: 26%;
}

.row-3 {
	top: 52%;
}

.row-4 {
	top: 78%;
}

.column-1 {
	left: 0%;
}

.column-2 {
	left: 26%;
}

.column-3 {
	left: 52%;
}

.column-4 {
	left: 78%;
}

#cell-1 {
	background-position: 0% 0%;
}

#cell-2 {
	background-position: 33.333% 0%;
}

#cell-3 {
	background-position: 66.666% 0%;
}

#cell-4 {
	background-position: 100% 0%;
}

#cell-5 {
	background-position: 0% 33.333%;
}

#cell-6 {
	background-position: 33.333% 33.333%;
}

#cell-7 {
	background-position: 66.666% 33.333%;
}

#cell-8 {
	background-position: 100% 33.333%;
}

#cell-9 {
	background-position: 0% 66.666%;
}

#cell-10 {
	background-position: 33.333% 66.666%;
}

#cell-11 {
	background-position: 66.666% 66.666%;
}

#cell-12 {
	background-position: 100% 66.666%;
}

#cell-13 {
	background-position: 0% 100%;
}

#cell-14 {
	background-position: 33.333% 100%;
}

#cell-15 {
	background-position: 66.666% 100%;
}