.data-dump-calendar {
  display: flex;
  flex-wrap: wrap;
  margin: $spacer * 2 -26px $spacer * -1 $spacer * 2;

  &__month {
    margin: 0 26px $spacer - 8px 0; // simulate another column between each month
  }

  &__month-label {
    @include small-bold();
    color: $middle-link-color;
    line-height: 18px;
    margin-bottom: 8px;
  }

  &__week {
    display: flex;
  }

  &__day {
    height: 18px;
    margin: 0 8px 8px 0;
    position: relative;
    width: 18px;

    &--with-entry {
      background-color: $link-color;

      &.active {
        background-color: $middle-link-color;
      }
    }

    &--no-entry {
      background-color: $link-color;
    }

    &--placeholder {
      pointer-events: none;
    }

    &:hover, &:focus {
      background-color: $dark-link-color;
    }
  }

  &__details-pane {
    background-color: rgba($link-color, 0.95);
    border: 2px solid $middle-link-color;
    border-radius: 4px;
    bottom: calc(100% + 6px);
    display: none;
    font-size: 14px;
    left: 50%;
    letter-spacing: 0.25px;
    line-height: 18px;
    padding: $spacer / 2;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    width: 250px;
    z-index: 5;

    .data-dump-calendar__day:hover &,
    .data-dump-calendar__day:focus & {
      display: block;
    }
  }

  &__details-heading {
    margin-bottom: $spacer / 2;

    span {
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }

  &__description {
    margin-bottom: $spacer / 2;
  }

  &__details-separator {
    border: none;
    border-bottom: 1px solid $text-color;
    margin: $spacer / 2 0;
  }

  @media only screen and (max-width: 620px) {
    margin: $mobile-spacer * 2 -24px $mobile-spacer * -1 0;

    &__month {
      margin-right: 21px; // simulate another column between each month
    }

    &__day {
      height: 13px;
      width: 13px;
    }
  }

  @media only screen and (max-width: 360px) {
    &__month {
      margin-right: 26px; // simulate another column between each month
    }

    &__day {
      height: 18px;
      width: 18px;
    }
  }
}
