.eina-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;

  &__static {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .dot {
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: red;
      border-radius: 50%;
      // transition: left top 1s linear;
    }
  }

	.n, .s, .e, .w {
		width: 50%;
		padding-top: 50%;
	}

	.n.w {
		background: url('../../img/eina-e.svg') no-repeat 75% 75% / 25% 25%;
	}

	.n.e {
		background: url('../../img/eina-i.svg') no-repeat 75% 0 / 25% 25%;
	}

	.s.w {
		background: url('../../img/eina-n.svg') no-repeat 0 75% / 25% 25%;
	}

	.s.e {
		background: url('../../img/eina-a.svg') no-repeat 75% 75% / 25% 25%;
	}
}