.inline-tags {
  @include small-bold();
  box-sizing: border-box;
  color: $middle-link-color;
  line-height: 1;
  margin: 0 0 $spacer * -1 $spacer;
  padding-left: $spacer;
  width: 100%; // prevent margin from cutting off the right rag

  &__tag {
    display: inline-block;
    margin-bottom: $spacer;
    white-space: nowrap;

    &:not(:last-child) {
      .inline-tags__vis {
        margin-right: $spacer;
      }
    }
  }

  &__name {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }

  &__vis {
    background-color: $middle-link-color;
    display: inline-block;
    height: 18px;
    vertical-align: middle;

    &--mobile {
      display: none;
    }
  }

  @media only screen and (max-width: 620px) {
    margin: 0 0 $mobile-spacer * -1 0;
    padding-left: 0;

    &__tag {
      margin-bottom: $mobile-spacer;

      &:not(:last-child) {
        .inline-tags__vis {
          margin-right: $mobile-spacer;
        }
      }
    }

    &__vis {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: inline-block;
      }
    }
  }
}
