@import "normalize.css";

$bg-color: #EBFFF3;
$text-color: #222624;
$link-color: #9fe2ba;

$spacer: 30px;

// @import "default-background";
// @import "eina";
// @import "tile-game";
// @import "multiple";

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('./fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('./fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('./fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'),
       url('./fonts/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('./fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('./fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('./fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('./fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

body {
  background-color: $bg-color;
  font-family: "Atlas Grotesk Web", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  color: $text-color;
  line-height: 30px;
}

.text-block {
  margin: 30vh auto;
  padding: 0 $spacer * 2;
  max-width: 1000px;
  box-sizing: border-box;
  position: relative;
  z-index: 20;
  h2 {
    padding-right: 30%;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.65px;
    margin: $spacer * 3 0 $spacer;
  }

  p {
    padding-right: 30%;
    margin: 0 0 $spacer;
  }

  a {
    color: $text-color;
    text-decoration: none;
    box-shadow: 0 2px 0 0px $link-color;
    padding-bottom: 1px;
    &:hover {
      box-shadow: 0 2px 0 0px $text-color;
    }
    .using-mouse &:focus {
      outline: none;
    }
  }

  @media only screen and (max-width: 800px) {
    h2, p {
      padding-right: 20%;
    }
  }

  @media only screen and (max-width: 600px) {
    h2, p {
      padding-right: 0;
    }
  }

  @media only screen and (max-width: 450px) {
    padding: 0 $spacer;
  }
}

.background-illustration {
  background-color: beige;
  overflow: hidden;
  position: relative;
  opacity: 1;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  &.hide {
    opacity: 0;
  }
  &__wrapper {
    padding: 0 $spacer * 2;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    max-width: 1000px;
    margin: $spacer * 2 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
