@import "totals-vis";
@import "inline-tags";
@import "data-dump-calendar";

.d3-vis {
  @include small-bold();
  color: $middle-link-color;
  padding: 0 0 $spacer * 2 $spacer * 2;
  position: relative;

  &__x-axis {
    bottom: 0;
    height: $spacer * 2;
    left: $spacer * 2;
    position: absolute;
    right: 1px;
  }

  &__x-axis-line {
    border-top: 2px solid $middle-link-color;
    left: 0;
    position: absolute;
    right: -1px;
    top: -1px;
  }

  &__y-axis {
    bottom: $spacer * 2;
    left: 0;
    position: absolute;
    top: 1px;
    transition: opacity 0.4s ease-in-out;
    width: 100%;
  }

  &__y-axis-line {
    border-right: 2px solid $middle-link-color;
    bottom: 0;
    left: $spacer * 2 - 1px;
    position: absolute;
    top: 0;
  }

  &__chart {
    overflow: hidden;
    position: relative;

    svg {
      display: block;
      transition: transform 0.4s ease-in-out;

      path {
        fill: $middle-link-color;
        transition: transform 0.4s ease-in-out;
      }
    }
  }

  &__y-tick {
    left: $spacer * 2;
    position: absolute;
    transform: translateY(-50%);
    right: 0;

    &:before {
      border-bottom: 2px solid $middle-link-color;
      content: '';
      display: block;
      position: absolute;
      right: calc(100% - 1px);
      top: calc(50% - 1px);
      width: $spacer / 2;
    }

    &:after {
      border-bottom: 2px dotted $link-color;
      content: '';
      display: block;
      left: 1px;
      position: absolute;
      top: calc(50% - 1px);
      width: calc(100% - 1px);

      .d3-vis--hide-guides & {
        display: none;
      }
    }
  }

  &__y-tick-text {
    box-sizing: border-box;
    text-align: right;
    transform: translateX(-100%);
    width: $spacer * 2;
    padding-right: $spacer / 2;
  }

  &__x-tick {
    padding-top: $spacer / 2;
    position: absolute;
    top: -1px;
    transform: translateX(-50%);

    &:after {
      border-right: 2px solid $middle-link-color;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: calc(50% - 1px);
      height: $spacer / 2;
    }
  }

  &--time-by-date svg path {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  &--tags {
    min-height: 60px;

    svg:not(.active) {
      display: none;
    }
  }

  &__tooltip {
    border-left: 2px dotted $middle-link-color;
    display: none;
    pointer-events: none;
    position: absolute;
    top: 0;

    .d3-vis__chart:hover & {
      display: block;
    }
  }

  &__tooltip-text {
    padding-left: 8px;
    position: absolute;
    transform: translateY(calc(50% + 1px));
    white-space: nowrap;

    &:before {
      border-bottom: 2px dotted $middle-link-color;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: calc(50% - 1px);
      width: $spacer / 2;
    }
  }

  &__actions {
    @include small-bold();
    color: $middle-link-color;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacer * -1;
    padding-left: $spacer * 2 - 1px;

    > * {
      margin-bottom: $spacer;
    }

    label {
      align-items: center;
      display: flex;
      line-height: 18px;
      margin-right: $spacer;
      position: relative;

      &:active {
        .d3-vis__checkbox-image {
          background-color: $link-color !important;
        }
      }
    }

    input[type="text"], select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      border: 2px solid $middle-link-color;
      border-radius: 4px;
      box-sizing: content-box;
      font-family: inherit;
      font-size: 14px;
      font-weight: normal;
      height: 18px;
      letter-spacing: 0.25px;
      line-height: 18px;
      margin: -4px 0 -4px 8px;
      padding: 2px 4px;
    }

    select {
      padding-right: 17px; // clear svg

      + svg {
        height: 14px;
        pointer-events: none;
        position: absolute;
        right: 4px;
        width: 14px;

        polyline {
          fill: none;
          stroke: $middle-link-color;
          stroke-width: 2px;
          stroke-linecap: square;
          stroke-linejoin: bevel;
        }
      }
    }

    input[type="checkbox"] {
      opacity: 0;
      pointer-events: none;
      position: absolute;

      + label .d3-vis__checkbox-image {
        border: 2px solid $middle-link-color;
        border-radius: 4px;
        display: inline-block;
        flex-shrink: 0;
        height: 14px;
        margin-right: 8px;
        width: 14px;

        svg {
          display: none;
          height: 14px;
          width: 14px;

          polyline, path {
            fill: none;
            stroke: $bg-color;
            stroke-width: 2px;
            stroke-linecap: square;
            stroke-linejoin: bevel;
          }
        }
      }

      &:checked + label .d3-vis__checkbox-image {
        background-color: $middle-link-color;

        svg {
          display: block;
        }
      }
    }
  }

  body:not(.using-mouse) & {
    &__actions input:focus + label {
      @include false-focus();
    }
  }

  @media only screen and (max-width: 620px) {
    margin-left: -15px;

    &__actions {
      padding-left: 0;
      margin-bottom: $mobile-spacer * -1;

      > * {
        margin-bottom: $mobile-spacer;
      }

      label {
        margin-right: $mobile-spacer;
      }

      input[type="text"], select {
        font-size: 12px;
      }
    }
  }
}

.d3-vis__y-axis--cropped {
  opacity: 0;

  .d3-vis--cropped-graph & {
    opacity: 1;
  }
}

.d3-vis--cropped-graph .d3-vis__y-axis--uncropped {
  opacity: 0;
}
