.totals-vis {
  padding-left: $spacer * 2;

  &__graph {
    height: $spacer * 2;
    position: relative;
  }

  &__graph-outline {
    box-sizing: border-box;
    border: 2px dotted $link-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__completed-area {
    align-items: center;
    background-color: $middle-link-color;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    svg {
      display: block;
      height: 14px;
      width: 14px;

      path {
        fill: none;
        stroke: $bg-color;
        stroke-width: 2px;
      }
    }
  }

  @media only screen and (max-width: 620px) {
    padding-left: 0;

    &__graph {
      height: $mobile-spacer * 2;
    }
  }
}
