<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jackson Tenclay</title>
  <meta name="title" content="Jackson Tenclay">
  <link rel="apple-touch-icon" sizes="57x57" href="<%= require('./apple-icon-57x57.png') %>">
	<link rel="apple-touch-icon" sizes="60x60" href="<%= require('./apple-icon-60x60.png') %>">
	<link rel="apple-touch-icon" sizes="72x72" href="<%= require('./apple-icon-72x72.png') %>">
	<link rel="apple-touch-icon" sizes="76x76" href="<%= require('./apple-icon-76x76.png') %>">
	<link rel="apple-touch-icon" sizes="114x114" href="<%= require('./apple-icon-114x114.png') %>">
	<link rel="apple-touch-icon" sizes="120x120" href="<%= require('./apple-icon-120x120.png') %>">
	<link rel="apple-touch-icon" sizes="144x144" href="<%= require('./apple-icon-144x144.png') %>">
	<link rel="apple-touch-icon" sizes="152x152" href="<%= require('./apple-icon-152x152.png') %>">
	<link rel="apple-touch-icon" sizes="180x180" href="<%= require('./apple-icon-180x180.png') %>">
	<link rel="icon" type="image/png" sizes="192x192"  href="<%= require('./android-icon-192x192.png') %>">
	<link rel="icon" type="image/png" sizes="32x32" href="<%= require('./favicon-32x32.png') %>">
	<link rel="icon" type="image/png" sizes="96x96" href="<%= require('./favicon-96x96.png') %>">
	<link rel="icon" type="image/png" sizes="16x16" href="<%= require('./favicon-16x16.png') %>">
	<link rel="manifest" href="<%= require('./manifest.json') %>">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="<%= require('./ms-icon-144x144.png') %>">
	<meta name="theme-color" content="#ffffff">
  <meta name="description" content="Jackson Tenclay is a web developer from Chicago.">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Jackson Tenclay">
  <meta property="og:description" content="Jackson Tenclay is a web developer from Chicago.">
  <meta property="og:url" content="http://jacksontenclay.com/">
  <meta property="og:site_name" content="Jackson Tenclay">
  <meta property="og:image" content="<%= require('./img/favicon.png') %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="Jackson Tenclay is a web developer from Chicago.">
  <meta name="twitter:title" content="Jackson Tenclay">
  <meta name="twitter:image" content="<%= require('./img/favicon.png') %>">

</head>
<body>
	<div class="text-block">
		<p>Hi, my name’s Jackson. I’m a full-stack web developer from&nbsp;Chicago.</p>

		<h2>Development</h2>
		<p>Working at <a href="https://multipleinc.com/" target="_blank" data-background="multiple">Multiple, Inc.</a>, mostly building websites over Craft&nbsp;CMS.</p>
		<p>TAing at Northwestern’s web dev bootcamp on nights and&nbsp;weekends.</p>
		<p>Doing my best to contribute to documentation and help out with open source&nbsp;projects.</p>
		<p>Made some little games and things during my time at General Assembly, like this <a href="http://jacksontenclay.com/tile-game/" target="_blank" data-background="tileGame">tile game</a> and a <a href="http://jacksontenclay.com/geography-quiz/" target="_blank">geography quiz for the prefectures of Japan</a>. More at <a href="https://github.com/jtenclay/" target="_blank">my&nbsp;GitHub</a>.</p>

		<h2>Not development</h2>
		<p>Made a font called <a href="https://www.behance.net/gallery/35245961/Retrograde-Grotesk" target="_blank">Retrograde Grotesk</a> while studying at&nbsp;<a href="https://www.eina.cat/" target="_blank" data-background="eina">EINA</a>.</p>
		<p>Performed UX research for various e-commerce stores, including deliverables like heuristic analyses, sitemaps/pageflows, and&nbsp;wireframes.</p>
		<p>Designed responsive websites ranging from one-off landing pages to international regulation&nbsp;associations.</p>

		<h2>Some other things</h2>
		<p>Studying Japanese off and on with&nbsp;<a href="https://www.wanikani.com/" target="_blank">WaniKani</a>.</p>
		<p>Currently reading: some edition of&nbsp;Cereal</p>
		<p>Currently playing: ドラゴンクエストIX <span style="white-space: nowrap;">星空の守り人</span></p>

		<h2>Buzzwords</h2>
		<p>Lately I've been working the most with SCSS, ES6, Webpack 4, PHP and&nbsp;Twig.</p>
		<p>I also have experience in Ruby, Angular/Ionic, React/Redux, MongoDB and&nbsp;MySQL.</p>

		<h2>P.S.</h2>
		<p>Want to say hello? Find me on&nbsp;<a href="https://www.linkedin.com/in/jacksontenclay/" target="_blank">LinkedIn</a>.</p>
	</div>
</body>
</html>
