---
title: Jackson Tenclay
---

<div class="text-block">
  <p>
    Hi, my name’s Jackson. I’m a full-stack web developer from&nbsp;Chicago.
  </p>

  <h2>Development</h2>
  <p>
    Currently working at <a href="https://multipleinc.com/" target="_blank" rel="noopener noreferrer">Multiple, Inc.</a>, mostly building websites over Craft&nbsp;CMS.
  </p>
  <p>
    Some recent releases include a <a href="https://www.rtamedsafety.com/" target="_blank" rel="noopener noreferrer">safety self-assessment webapp for hospitals</a> in React/Redux and a CMS-heavy site for <a href="https://www.sedgwick.com/" target="_blank" rel="noopener noreferrer">the leading international claims management&nbsp;company</a>.
  </p>
  <p>
    Just finished TAing at Northwestern’s web dev bootcamp on nights and&nbsp;weekends.
  </p>
  <p>
    Hoping to spend this year focusing a little more on contributing to documentation and open source&nbsp;projects.
  </p>

  <h2>Not development</h2>
  <%#
  <p>
    Made a font called <a href="https://www.behance.net/gallery/35245961/Retrograde-Grotesk" target="_blank" rel="noopener noreferrer">Retrograde Grotesk</a> while studying at&nbsp;<a href="https://www.eina.cat/" target="_blank" rel="noopener noreferrer" class="hover-tile-link" data-hover-tile="eina">EINA</a>.
  </p>
  <p>
    Performed UX research for various e-commerce stores, with deliverables like heuristic analyses, sitemaps/pageflows, and&nbsp;wireframes.
  </p>
  <p>
    Designed responsive websites ranging from one-off landing pages to international regulation&nbsp;associations.
  </p>

  <h2>Some other things</h2>
  %>

  <p>
    Studying Japanese off and on with&nbsp;WaniKani.
  </p>
  <p>
    Made a single-font typeface a couple years back that I’d like to find a good use&nbsp;for.
  </p>
  <%# <p>
    Currently reading: some edition of&nbsp;Cereal
  </p> %>
  <p>
    Currently playing: Celeste (trying for the C-Sides) and Baba Is&nbsp;You.
  </p>

  <h2>Buzzwords</h2>
  <p>
    I usually work with SCSS, ES6, Webpack 4 and&nbsp;Twig.
  </p>
  <p>
    For webapps I tend to reach for React with&nbsp;Redux.
  </p>
  <p>
    I have more limited experience in Angular/Ionic, Ruby, MongoDB and&nbsp;MySQL.
  </p>

  <h2>P.S.</h2>
  <p>
    You can see a little more on <a href="https://www.linkedin.com/in/jacksontenclay/" target="_blank" rel="noopener noreferrer">LinkedIn</a> or my&nbsp;<a href="https://github.com/jtenclay/" target="_blank" rel="noopener noreferrer">GitHub</a>.
  </p>
</div>
<div class="background-illustration__wrapper">
  <div class="background-illustration hide"></div>
</div>
